# cache
__pycache__

# github
.github
.git
.gitignore
README.md

# vscode
.vscode
.vs

# postgres
utils/models.pgerd
utils/models.sql

# secret
.env.example
secret

.dockerignore
Dockerfile
run_debug.sh

Pipfile
Pipfile.lock

alembic
alembic.ini