[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["default"] }
python-jose = {extras = ["cryptography"] }
python-multipart = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
alembic = "*"

[dev-packages]
python-dotenv = "*"

[requires]
python_version = "3.10"
